doctype html

html(⚡)
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui")
		// link(rel="stylesheet" type="text/css" href="../style/markdown.css")
		// link(rel="stylesheet" type="text/css" href="../style/mobile.css")
		style
			include ../style/markdown.css
			include ../style/mobile.css
		script(src="https://cdn.ampproject.org/v0.js" async)
		script(src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js" async custom-element="amp-fit-text")
		script(src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async custom-element="amp-lightbox")
		script(src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async custom-element="amp-carousel")
		
		style
			| body {opacity: 0; margin: 0}
		noscript
			style
				| body {opacity: 1}
		title Валка
	body
		header
			header
				h1 Спил деревьев
				h3 пилим деревья в Крыму.
				h3 8 (800) 555-35-35
			nav
				a(href="./") ГЛАВНАЯ
				a(href="./examples.html") ПРИМЕРЫ
			#shadow
		main
			article.markdown-body
				include:supermarked ../content/index.md
			article.comments
				include ../content/examples.jade
				- each item in examples
					figure
						amp-img(src=item.previewImage layout="responsive" height=1 width=1 on="tap:"+item.id)
						figcaption!= item.text
					amp-lightbox(id=item.id layout="nodisplay")
						.lightbox
							amp-carousel(layout="responsive" width=2 height=1)
								- each image in item['images']
									- var srz = '../' + image.src
									amp-img(src=srz layout="responsive" width=2 height=1)

			article.number
				amp-fit-text(layout="responsive" width=100 height=20)
					| 8 (800) 555-35-35
		footer
			| Веб-студия 
			a(href="https://lampa.cc/?from=valka")
			| lampa.cc