doctype html

html(⚡)
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui")
		link(rel="canonical" href="../examples.html")
		style
			| body {opacity: 0}
		noscript
			style
				| body {opacity: 1}
		style
			| body {margin: 0}
			include ../style/markdown.css
			include ../style/mobile.css
		script(src="https://cdn.ampproject.org/v0.js" async)
		script(src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js" async custom-element="amp-fit-text")
		script(src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async custom-element="amp-lightbox")
		script(src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async custom-element="amp-carousel")
		meta(name='description', content='Валка коронирование спил деревьев, дробление пней в по всему Крыму: Алушта, Бахчисарай, Белогорск, Джанкой, Евпатория, Керчь, Саки, Севастополь, Симферополь, Феодосия, Ялта')
		title Валка
	body
		header
			header
				h1 Спил деревьев
				h2 пилим деревья в Крыму.
				h2 
					a.nomobile(href="tel:89780166572") 8 (978) 016 65 72
			nav
				a(href="./") ГЛАВНАЯ
			#shadow
		main
			article.markdown-body
				include:supermarked ../content/examples.md
			article.comments
				include ../content/examples.jade
				- each item in examples
					figure
						amp-img(src=item.previewImage layout="responsive" height=1 width=1 on="tap:"+item.id)
						figcaption!= item.text
					amp-lightbox(id=item.id layout="nodisplay")
						.lightbox
							amp-carousel(type="slides" layout="fill")
								- each image in item['images']
									amp-img(src=image.mobileSrc)
									
		footer
			a.nomobile(href="tel:89780166572") Звоните 8 (978) 016 65 72
			br
			a.vk(href="https://vk.com/spilcrimea")
				Мы вконтакте 
				img(src="../img/vk-32.png")
			br
			a.lampa(href="https://lampa.cc/?from=valka")
				Веб-студия &nbsp;
				span.underline lampa.cc
			br
	// Yandex.Metrika counter
	script(type="text/javascript")
		| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter33068288 = new Ya.Metrika({ id:33068288, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
	noscript
		div
			img(src="https://mc.yandex.ru/watch/33068288", style="position:absolute; left:-9999px;", alt="")
	// /Yandex.Metrika counter